/* 特殊动画和滚动条样式 */
.ua-tabs::-webkit-scrollbar {
  display: none;
}

.ua-tabs {
  scrollbar-width: none;
}

/* 文本截断样式 */
.ua-post-summary {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 4.5em;
  line-height: 1.5em;
}

/* 播放图标 */
.ua-play-icon {
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  margin-right: 3px;
}

/* 移动端适配 */
@media (max-width: 768px) {
  .ua-main-content {
    @apply w-full;
  }
}

 