@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply flex flex-col min-h-screen;
}

body {
  @apply min-h-screen font-sans text-gray-600 bg-gray-50 m-0;
}
